<%= form_for @ingredient do |f| %>
  Title: <%= f.text_field :title %>
 <ul>
   <%= f.fields_for :ingredients do |ingredient| %>
   <li>
     name: <%= ingredient.text_field :name %>
     quantity: <%= ingredient.text_field :quantity %>
   </li>
   <% end %>

 </ul>
 <%= f.submit %>
<% end %>
